body { 
    margin: 0;
    font-family: 'Grechen Fuemen', cursive;
}

.landing-logo{
    position: relative;
    top: 5%;
    z-index: 1;
    object-fit: cover;
    text-decoration: none;
    color: rgb(0, 0, 0);
    float: left;
    text-shadow: #000080;
    font-size: 200%;
    font-weight: bold;
  }

  .landing{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
  }
  
   .landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 94, 0.2); 
    z-index: 1;
  } 

  #settings::before, #credits::before,  #howTo::before, #career::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 151, 187, 0.514); 
    z-index: 1;
  } 

  #game-over::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 50, 11, 0.705); 
    z-index: 1;
  } 
  
  .landing-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  .landing-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home-heads{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    /* width: 100%; */
    /* bottom: 30%; */
    z-index: 2;
  }
  
  .home-head1{
    color: #000080;
    /* background-color: rgba(245, 241, 1, 0.911); */
    position: relative;
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin: 20px;
    margin-top: 40px;
    background-image: linear-gradient(45deg, rgb(36, 196, 44) 30%,yellow 60%);
    background-clip: text;
    -webkit-background-clip: text; /* For webkit browsers (e.g., Safari) */
    color: transparent;
  }
  
  #settingsBtn, #howToBtn, #careerBtn, #creditsBtn{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 127, 245, 0.829);;
    border: yellow solid 2px;
    border-radius: 25px;
    padding: 12px 10px;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    z-index: 2;
    cursor: pointer;
  }

  #startButton{
    position: relative;
    background-color: rgba(245, 241, 1, 0.6);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border: rgb(6, 15, 99) solid 2px;
    cursor: pointer;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
    margin: 20px;
    font-family: 'Architects Daughter', cursive;
  }

  #settingsBack, #howToBack, #careerBack, #creditsBack{
    position: relative;
    background-color: rgba(245, 241, 1, 0.6);
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: rgb(6, 15, 99) solid 2px;
    cursor: pointer;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
    margin: 10px;
    margin-left: 13%;
    margin-top: 5%;
    font-family: 'Architects Daughter', cursive;

  }

  .page-head{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #000080;
    position: relative;
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin: 20px;
    margin-top: 10px;
    background-image: linear-gradient(45deg, rgb(36, 196, 44) 30%,yellow 60%);
    background-clip: text;
    -webkit-background-clip: text; /* For webkit browsers (e.g., Safari) */
    color: transparent;
    z-index: 2;
  }

  .page-text, .credits-text, .howto-text{
    position: relative;
    font-size: 40px;
    color: black;
    margin: 20px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
  }

  .credits-text{
    font-size: 25px;
  }

  .howto-text{
    font-size: 25px;
    text-align: left;
    margin-left: 28%;
  }

  .levels{
    text-align: center;
    justify-content: center;
  }

  .unlocked, .locked{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: rgba(255, 255, 0, 0.705) solid 2px;
    border-radius: 15px;
    padding: 24px 20px;
    margin: 10px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    z-index: 2;
    cursor: pointer;
  }

  .unlocked{
    background-color: rgba(1, 245, 164, 0.829);;
  }

  .locked{
    background-color: rgba(245, 1, 1, 0.829);;
  }
  

  #music-on, #music-off, #fx-on, #fx-off {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: yellow solid 2px;
    border-radius: 25px;
    padding: 12px 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    z-index: 2;
    cursor: pointer;
  }

  #music-off, #fx-off {
    background-color: red;
    border-radius: 45px;
  }

  #music-on, #fx-on {
      background-color: green;
      border-radius: 65px;
      padding: 10px 10px;
  }

  #gameOver{
    text-align: center;
    justify-content: center;
    z-index: 2;
  }

  .score{
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    font-size: 35px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    display: block;
  }

  #restart-button{
    text-align: center;
    justify-content: center;
    z-index: 2;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 127, 245, 0.829);
    border: yellow solid 2px;
    border-radius: 25px;
    padding: 12px 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    cursor: pointer;
    display: flex;
    margin-left: 46%;
  }
  

  /* .restart{
    margin-left: 40%;
  } */
  
  .game-over-head{
    color: #000080;
    position: relative;
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin: 20px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    z-index: 2;
  }

  /* PAUSE MENU */
  .pause-btn{
    background-color: rgb(35, 37, 133);
    color: rgb(255, 255, 255);
    background-color: rgba(1, 25, 245, 0.829);
    border: yellow solid 2px;
    /* color: rgb(230, 206, 206); */
    font-size: 15px;
    padding: 11px 14px 7px 14px;
    /* border: rgb(6, 15, 99) solid 2px; */
    cursor: pointer;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}

.pause{
  display: block;
  position: absolute;
  right: 30px;
  top: 15px;
}

.pause-menu{
  position: absolute;
  font-size: 40px;
  color: black;
  margin: 20px;
  left: 39%;
  top:180px;
  text-align: center;
  justify-content: center;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgba(213, 226, 33, 0.9);
  padding: 20px 60px;
  border: rgb(6, 15, 99) solid 2px;
}

#menu-resume, #menu-restart, #menu-home, #menu-settings{
  background-color: rgb(35, 37, 133);
  color: rgb(230, 206, 206);
  font-size: 15px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  text-align: center;
  text-decoration: none;
  font-family: 'Architects Daughter', cursive;
}

#menu-settings{
  margin-bottom: 12px;
}

